html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
*{
    position: relative;
    color: white;
    /* background-color: black; */
    text-align: center;
    border: none;
}
img{
    width: 100%;
    height: 100%;
}
.container{
    display: inline-block;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
}
h1{
    color: #A78A35;
    font-size: 38px;
    font-weight: bold;
    font-family: 'Secular One', sans-serif;
}
p{
    font-size: 24px;
}


/* banner */
#banner {
    background-color: #141414;
}
#banner .container{
    width: 100%;
    margin: 0px;
}
#banner .pic{
    width: 100%;
}

/* project */
#project {
    background-color: #141414;
}
#project .smoke{
    position: absolute;
    height: 70vh;
    width: 60vh;
    right: 10%;
    top: -20%;
    overflow: hidden;
}
#project .heading{
    font-size: 36px;
    font-weight: bold;
    font-family: 'Secular One', sans-serif;
    /* letter-spacing: 5px; */
}
#project .block{
    display: inline-block;
    width: 30%;
    vertical-align: top;
}
#project .dot{
    display: inline-block;
    width: 2%;
    vertical-align: top;
}

/* empower */
#empower{
    background: linear-gradient(45deg, black,#4c4c4c);
    /* background-color: black; */
}
#empower .gold{
    position: absolute;
    height: 70vh;
    width: 60vh;
    /* left: 10%;
    bottom: -20%; */
    overflow: hidden;
}
#empower .pic{
    width: 30%;
}
#empower .leftleft{
    display: inline-block;
    width: 10%;
    vertical-align: top;
}
#empower .left{
    display: inline-block;
    width: 40%;
    vertical-align: top;
}
#empower .right{
    display: inline-block;
    width: 49%;
    vertical-align: top;
    text-align: left;
}
#empower h1{
    text-align: left;
    padding: 0px 20px;
    line-height: 40px;
}
#empower p{
    text-align: left;
    padding: 0px 20px;
    line-height: 40px;
}

/* character , style*/
#character {
    background-color: #212121;
}
#character .container{
    min-height: 15vh;
}
#character h1{
    display: inline-block;
    width: 30%;
    vertical-align: center;
    text-align: center;
}
#character p{
    display: inline-block;
    width: 69%;
    vertical-align: top;
    text-align: left;
    font-size: 20px;
}
#style {
    background-color: black;
}
#style .container{
    height: 30vh;
}
#style h1{
    display: inline-block;
    width: 30%;
    vertical-align: center;
    text-align: center;
}
#style p{
    display: inline-block;
    width: 69%;
    vertical-align: top;
    text-align: left;
    font-size: 20px;
}
#style .gold{
    position: absolute;
    height: 60vh;
    width: 45vh;
    right: 10%;
    bottom: 0%;
    overflow: hidden;
}

/* team */
#team{
    background-color: black;
}
#team button {
    display: inline-block;
    background-color: transparent;
    width: 5%;
    cursor: pointer;
}
#team .pic{
    display: inline-block;
    width: 80%;
}


/* combination */
#combination {
    background-color: #272727;
    padding: 15px 10px;
    font-size: 20px;
}
#combination button{
    font-family: 'Secular One', sans-serif;
}
#combination .container{
    width: 75%;
}
#combination .left .pic{
    /* display: inline-block; */
    width: 15vw;
}
#combination .left{
    display: inline-block;
    width: 50%;
}
#combination .left h1{
    text-align: left;
    padding-left: 30px;
}
#combination .left p{
    text-align: left;
    padding-left: 30px;
    line-height: 38px;
}
#combination .right{
    display: inline-block;
    width: 49%;
}

/* vc */
#vc {
    background-color: black;
}
#vc h1{
    color: white;
}
#vc .left{
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
#vc .left h1{
    text-align: left;
    color: white;
}
#vc .left p{
    text-align: left;
    font-size: 18px;
    line-height: 26px;
}
#vc .right{
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

/* award */
#award{
    background-color: black;
}
#award .smoke{
    position: absolute;
    height: 100vh;
    width: 90vh;
    right: 10%;
    top: -20%;
    overflow: hidden;
}
#award h1{
    color: white;
    text-align: left;
}
#award .left {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
#award .right {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}
#award .left h2{
    font-size: 18px;
    color: white;
    text-align: left;
}
#award .right h2{
    font-size: 18px;
    color: white;
    text-align: left;
}
#award p{
    text-align: left;
    font-size: 16px;
    line-height: 26px;
    padding-left: 40px;
}
#award hr{
    margin-top: 50px;
    margin-bottom: 50px;
}

/* art */
#art {
    background-color: black;
}
#art .pic{
    display: inline-block;
    width: 20vw;
    height: 20vw;
}
#art button{
    color: black;
}

/* founder */
#founder {
    background-color: #272727;
}
#founder h1{
    text-align: left;
    color: white;
}
#founder .pic{
    display: inline-block;
    width: 49%;
    vertical-align: top;
}
/* footer */
#footer{
    background-color: black;
}
#footer h1{
    font-size: 30px;
    color: white;
}
#footer .pic{
    width: 40px;
    height: 40px;
    display: inline-block;
}

button{
    color: rgb(51, 50, 50);
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-weight: bold;
    margin: 0px 10px;
    font-size: 35px;
    cursor: pointer;
}
button:hover{
    color: #d4aa2a;
}